* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 900;
  transition: 0.5s;
  overflow-x: hidden;
}
h1 {
  border-bottom: 0.1rem solid gray;
}
.container {
  color: black;
  max-width: 50rem;
  margin: 5rem auto;
}
.item__title ion-icon {
  color: black;
  visibility: hidden;
  opacity: 0;
}
.block:hover ion-icon {
  visibility: visible;
  opacity: 1;
}
.item-input:checked ~ .item__title ion-icon {
  transform: rotate(45deg);
}

.block:hover .item__title {
  color: black;
}
.block:hover {
  cursor: pointer;
}

.item__title {
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: blue;
  margin-bottom: 1rem;
}
.block__img {
  opacity: 0;
  height: 0;
}
.block__img img {
  display: block;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.block__item {
  padding: 1rem;
  border-bottom: 0.1rem solid gray;
}

.item-input {
  appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.item-input:hover ~ .item__title,
.item-input:checked ~ .item__title {
  color: black;
}
.item-input:hover ~ .block__img,
.item-input:checked ~ .block__img {
  opacity: 1;
  height: 100%;
}
@media (min-width: 1920px) {
  h1 {
    font-size: 4rem;
  }
  .item__title {
    font-size: 3rem;
  }
}
@media ((min-width: 820px)and (max-width:1919px)) {
  h1 {
    font-size: 2rem;
  }
  .item__title {
    font-size: 1rem;
  }
}
@media ((min-width: 320px) and (max-width: 819px)) {
  h1 {
    font-size: 1.5rem;
  }
  .item__title {
    font-size: 0.5rem;
  }
}
